.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
  }
  
  .nav-logo {
    font-size: 24px;
  }
  
  /* The nav-links will be hidden by default */
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    height: 100vh;
    display: none; /* Hidden by default */
    flex-direction: column;
    gap: 40px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #555;
  }
  
  /* The active class will show the nav-links */
  .nav-links.active {
    display: flex; /* Show the menu when active */
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }